/** @format */
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

html {
	box-sizing: border-box;
}
body {
	padding: 0;
	margin: 0;
	background: rgba(0, 0, 0, 0.5);
	background: url(media/images/nightCity.png) no-repeat center/cover fixed;
	backdrop-filter: opacity(50%);
	font-family: "Architects Daughter", cursive;
	font-weight: bold;
	color: deeppink;
}
.ScoreBoard {
	display: flex;
	justify-content: flex-start;
	text-align: center;
}
.ScoreBoard h3 {
	margin: 0;
}
.ScoreBoard .teamStats {
	flex: 1;
}
.identity img {
	max-height: 15rem;
	filter: drop-shadow(0 0 0.75rem deeppink);
}

.Game h1 {
	text-align: center;
	font-size: 3rem;
	color: black;
	text-shadow: 3px 3px 10px magenta;
}

.Team {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 30rem;

	color: skyblue;
	text-shadow: 3px 3px 10px magenta;
}

.Team .identity {
	height: 15rem;
	display: flex;

	flex-direction: column;
}
.ScoreBoard {
	display: flex;
	justify-content: space-between;
	background-color: #e01cb577;
	color: black;
	font-size: 2rem;
	font-weight: bolder;
	max-height: 10rem;
}

.buttons {
	color: deeppink;
	text-transform: uppercase;
	background: #ffffff;
	padding: 10px;
	border: 4px solid deeppink;
	border-radius: 6px;
	display: inline-block;
	transition: all 0.3s ease 0s;
}

.buttons:hover {
	color: #e01cb6;
	border-radius: 50px;
	border-color: #e01cb6;
	transition: all 0.3s ease 0s;
}
.stats {
	display: flex;
	justify-content: space-around;
	align-items: baseline;
}
.stats h1 {
	font-size: 3rem;
}
.versus {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	color: black;
	text-shadow: 3px 3px 10px magenta;
}
